body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008000;
}

h1,
h2,
h3 {
    text-align: center;
}

nav {
    list-style-type: none;


}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}


nav li {
    margin: 1px;
}

nav a {
    color: #fff;
    text-decoration: none;
    background-color: lightcoral;
    padding: 10px;
}

nav a:hover {
    color: red;
    background-color: black;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

/*Regional introduction design*/
#Introdaction {
    text-align: center;
    background-color: #FEDCBD;
    margin: 730px auto;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#Introdaction h2 {
    background-color: red;
    color: bisque;
    width: 45%;
    margin: 20px auto;
    font-size: 23px;
}

#Attractions {
    text-align: center;
    background-color: #FEDCBD;
    width: 60%;
    max-width: 900px;
    padding: 20px;
    margin: 20px auto;
}

#Attractions h2 {
    background-color: red;
    color: bisque;
    width: 35%;
    margin: 20px auto;
    font-size: 22px;
}

#Attractions ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 10px;
}

#Attractions li {
    width: 100%;
}

#Attractions img {
    width: 100%;
    height: auto;
}

#Travel-Tips {
    text-align: center;
    background-color: #FEDCBD;
    margin: 730px auto;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


#Travel-Tips li {
   list-style: none;
}

#Travel-Tips table {
   background-color: #F58220;
   border-collapse: collapse;
    width: 10%;
    max-width: 300px;
    margin: 20px auto;
}

#Travel-Tips h2 {
    background-color: red;
    color: bisque;
    width: 30%;
    margin: 20px auto;
    font-size: 30px;
}

#Travel-Tips th {
    border: 1px solid #E7BB00;
    padding: 0.5em;
    width: 150px;
    
}

#Travel-Tips td {
    border: 1px solid #E7BB00;
    padding: 0.5em;
    text-align: center;
    width: 150px;
}

